@import "../../main.scss";
header {
  @include row;
  @include shadow;
  z-index: 999;
  justify-content: space-between;
  height: 9vh;
  min-height: 3em;
  padding-inline-start: 7vw;
  padding-inline-end: 7vw;
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;
  * {
    text-decoration: none;
  }
  #header-left {
    @include row;
  }
  ul {
    @include row;
    list-style: none;
  }
}
