header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: blueviolet;
  padding-inline-start: 7vw;
  padding-inline-end: 7vw;
}
