header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: blueviolet;
  padding-inline-start: 7vw;
  padding-inline-end: 7vw;
  box-shadow: 0em 0.2em 1em 0.1em #33333380;
  margin-bottom: 1em;
  * {
    text-decoration: none;
  }
  h1 {
    color: white;
    font-weight: 900;
    letter-spacing: -0.05em;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    #theme-toggle {
      background-color: #ccc;
      padding: 0.5em;
      border: none;
      border-radius: 50%;
    }
  }
}
